.cardBarContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.cardBar{
    display: flex;
justify-content: center;
}
.cardBarTitle{
font-family: Raleway;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 50px ;
}
.cardBarCard{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

@media  only screen and (max-width: 1070px) {
    .cardBarContainer{
        align-items: center;
    }

    .cardBarTitle{
        font-size: 26px;
    }
}
