.cardBarContainer{
    margin: 0px 100px 50px 100px; 
}
.cardBarTitle{
font-family: Raleway;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 50px ;
}
.cardBarCard{
    display:flex;
    justify-content: space-between;
}
@media screen and (max-width:1280px){
    .cardBarContainer{
        margin: 0px;
    }
    .cardBarCard{
        width: 50%;
    }

}