#learnMoreContainer{
    /* background-image: url("./assets/Hero1.png"); */
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#learnMoreTitle{
    position: absolute;
    color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 80px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-shadow: 0 1px 3px rgba(0,0,0,0.67);
margin-bottom: 200px;
}
#learnMoreButton{
    display: flex;
    border-radius: 36px;
    justify-content: center;
    position: absolute;
    width: 160px;
    height: 42px;
    margin-top: 200px;
    background: rgba(255, 255, 255, 0.75);
    transition: 0.3s;
}
#learnMoreButton:hover{
    background-color: #316559;
    color: white;
}
#buttonText:hover{
    color: white;
}


#myVideo {
    object-fit: cover;
max-height: 100%;
min-width:100%;
max-width: 100%;
overflow: auto;
  }
  #buttonText{
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
  }

  #aboutButton{
    display: flex;
    align-items: center;   
  }

  @media  only screen and (max-width: 1200px) {
    #learnMoreTitle{
        font-size: 60px;
    }
}
@media  only screen and (max-width: 1100px) {
#learnMoreContainer {
    height: auto;
}
}

  @media  only screen and (max-width: 900px) {
    #learnMoreTitle{
        font-size: 60px;
    }
}
@media  only screen and (max-width: 768px) {
    #learnMoreTitle{
        font-size: 40px;
        margin-bottom: 150px;
    }
    #buttonText{
        font-size: 14px;
    }
    #learnMoreButton{
        width: 120px;
        height: 32px;
        margin-top: 150px;
    }
}
@media  only screen and (max-width: 600px) {
    #learnMoreTitle{
        font-size: 30px;
        margin-bottom: 100px;
    }
    #learnMoreButton{
        width: 120px;
        height: 32px;
        margin-top: 100px;
    }
}
    @media  only screen and (max-width: 600px) {
        #learnMoreTitle{
            font-size: 20px;
            margin-bottom: 80px;
        }
        #learnMoreButton{
            width: 100px;
            height: 22px;
            margin-top: 80px;
        }
        #buttonText{
            font-size: 12px;
        }
}
    