#spotlightContainer{
    height: 35rem;
    display: flex;
    flex-wrap: wrap;
}
#spotlightImage{
    width: 45%;

}
.spotlightElipse{
    position: absolute;
    scale: 80%;
    left: 10rem;
}
.spotlightWatch{
    height: 500px;
    width: 430px;
    position: absolute;
    scale: 80%;
    left: 14.5rem;
    top: 8.5rem;
}
#mottoText{
    color: #000;
font-family: Raleway;
font-size: 70px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#mottoText2{
    font-size: 130px;
    color: #316559;
    font-weight: 700;
}
#spotlightTextBox{
    align-items: center;
    width: 50%;
    display: flex;

}

@media screen and (max-width:1500px){
    #spotlightImage{
        width: 20%;
        display: none;
        visibility: hidden;
    }
    #spotlightTextBox{
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width:1000px){
    #mottoText{
        font-size: 50px;
    }
    #mottoText2{
        font-size: 80px;
    }
    #spotlightContainer{
        height: 25rem;
    }
}
@media screen and (max-width:600px){
    #mottoText{
        font-size: 30px;
    }
    #mottoText2{
        font-size: 60px;
    }
    #spotlightContainer{
        height: 25rem;
    }
}
