#watchCardContainer{
    display: flex;
    /* margin-left: 100px; */

}
#watchCardImgContainer{
    display: flex;
    justify-content: center;
    width:50%;
    width: 600px;
    height: 600px;
    margin: 0px 0px 50px 100px;
}
#watchCardview{
    display: flex;
    height: 600px;
    width: 600px;
    justify-content: center;
    align-items: center;

}
#watchCardImg{
    display: flex;
height: 100%;
width: 100%;

}
#infoContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}
#underWatchContainer{
    /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;
}
#underWatchMoreImages{
    /* display:flex; */
    width: 100%;

}
#moreImageCon{
    display:flex;
    margin-left: 100px;
}
#moreImage{
    width: 200px;
    height: 200px;
    margin: 20px;
}
#underWatchTitle{
    margin-left: 90px;
}
#description{
    font-family: Raleway;
}

#cartOptions a{
    width: 160px;

}
#addToCartw{
    height: 42px;
    width: 160px;
    margin-left: 100px;
    text-decoration: none;
    border-radius: 36px;
    color: #000;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
    background-color: #EAEDF2;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#addToCartw:hover{
    background-color: #316559;
    color: white;
    
}
#addToCart2{
    position: absolute;
        height: 42px;
        width: 160px;
}
#trade{
    height: 42px;
    width: 160px;
    margin-left: 100px;
}