#watchCardContainer {
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 100px; */
}
#watchCardImgContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  width: 600px;
  height: 600px;
  margin: 0px 0px 50px 0px;
}
#watchCardview {
  display: flex;
  height: 600px;
  width: 600px;
  justify-content: center;
  align-items: center;
}
#watchCardImg {
  display: flex;
  height: 100%;
  width: 100%;
}
#infoContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 20px;
}
#underWatchContainer {
  /* display: flex; */
  justify-content: space-between;
  flex-wrap: wrap;
}
#underWatchMoreImages {
  display: flex;
  /* width: 15%; */
  justify-content: center;
}
#moreImageCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#moreImage {
  width: 150px;
  height: 150px;
}

#moreImage:hover {
  cursor: pointer;
}
#description {
  font-family: Raleway;
}

#cartOptions a {
  width: 160px;
}
#addToCartw {
  height: 42px;
  width: 160px;
  /* margin-left: 100px; */
  text-decoration: none;
  border-radius: 36px;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #eaedf2;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#addToCartw:hover {
  background-color: #316559;
  color: white;
}
#addToCart2 {
  position: absolute;
  height: 42px;
  width: 160px;
}
#trade {
  height: 42px;
  width: 160px;
  margin-left: 100px;
}

@media only screen and (max-width: 1360px) {
  #watchCardContainer{
    flex-direction: column-reverse;
    align-items: center;
  }
  #moreImageCon{
    flex-direction: row;
  }   
  #moreImage{
    margin: 0px 20px 20px 0px;
  }
  #boxBreak{
    display: none;
  }
  
}
@media only screen and (max-width:900px) {
  #watchCardImgContainer{
    width: 500px;
  }
  #addToCartw{
    margin-top: 10px;
  }
  #watchCardDescription{
    width: 100%;
    height: 100%;
  }
  #infoContainer{
    width: 100%;
  }
  
}
@media only screen and (max-width:500px) {
  #watchCardImgContainer{
    width: 500px;
  }
}
@media only screen and (max-width:500px) {
  #watchCardImgContainer{
    width: 400px;
    height: 100%;
  }
  #watchCardView{
    width: 400px;
    height: 100%;
  }
  #watchCardview{
    width: 400px;
    height: 100%;
  }
  #moreImage{
    width: 100px;
    height: 100px;
  }
  #title{
    margin-left: 0px ;
    width: 100%;
  }
  #watchCardDescription{
    margin-left: 0px ;
  }
  #watchCardPrice{
    margin-left: 0px ;
  }
  #watchCardBrand{
    margin-left: 0px ;
  }
}

@media only screen and (max-width:450px) {
  #watchCardImgContainer{
    width: 300px;
  }
  #moreImage{
    width: 80px;
    height: 80px;
  }
  #watchCardDescription{
    font-size: 14px;
  }
  #addToCartw{
    height: 32px;
    width: 140px;
    font-size: 16px;
  }

}