#minicardContainer{
    margin: 0px 20px;
    /* height: 425px; */
    width: 250px;
    /* border: solid 1px black; */
}
#imgContainer{
    display: flex;  
    justify-content: center;

}
#view{
    display: flex;
    justify-content: center;
    width: 280px;
    height: 250px;
    border-radius: 30px;
    background: #EAEDF2;
}
#addToCart{
    height: 42px;
    width: 160px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 36px;
    color: #000;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
    background-color: #EAEDF2;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#addToCart:hover{
    background-color: #316559;
    color: white;
    scale: 1.02;
}
#miniCardImg{
    display: flex;
 height: auto;
 width: auto;
 max-width: 250px;
 max-height: 250px;
 border-radius: 30px;
 
}
#watchTitle{
    margin: 10px;
    color: #000;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#price{
    color: #000;
    font-family: Raleway;
    margin: 5px 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#titleContainer{
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.image-with-hover{
  opacity: 1;
}
.image-with-hover.hovered {
  opacity: 0.9;
  scale: 1.02;
}


@media screen and (max-width:1400px){
    #minicardContainer{
        
        margin-top: 20px;
    }

}

@media screen and (max-width:1070px){
    .cardBarCard{
        justify-content: center;
        
    }

}
@media screen and (max-width:800px){
    .cardBarCard{
        justify-content: center;
    }


}